<div class="col" style="margin-bottom: 15px">
  <div class="card" style="width: 18rem">
    <%= image_tag 'ad.jpg', alt: "This is an advertisement." %>
    <div class="card-body">
      <h5 class="card-title">Dog Collar</h5>
      <p class="card-text">$0.99 Sale ends in 2 hours.</p>
      <a href="#" class="btn btn-primary">More details</a>
    </div>
  </div>
</div>
